/*
    COMMON
*/
$remInitialValue = 16


/*
    index app
*/
$headerHeight = 5rem

$smartphonesMediaMaxWidth = 414px
$tabletsMediaMinWidth = 415px
$tabletsMediaMaxWidth = 1024px


/*
    admin app
*/
$adminHeaderHeight = 2rem
