.markdown
    line-height 140%
    color #fff

    code
        margin 0
        padding .2em .4em
        border-radius 3px
        background-color #fff
        font-size 90%
        color #000

    details
        & > summary
            font-weight bold
        & > div
            padding .5rem 0
