@require "default.styl"
@require "common.styl"
@require "fonts.styl"

// красим scrollbar
html
    scrollbar-color #2a2c2e #1c1e1f
// устанавливаем scrollbar видиымы по-умолчанию
body
    overflow-y scroll

#root
    position relative
    min-height 100vh
