.image-uploader
    position relative

    h3
        padding 1rem 0
        font-weight bold
        font-size 1.1rem
        color #fff

    label
        display inline-block
        padding 1rem
        opacity .75
        cursor pointer
        border 1px solid #fff
        color #fff
        transition opacity .3s

        &:hover
            opacity 1
