.sections-list
    width 100%

    & > h3
        padding 1rem 0
        font-weight bold
        font-size 1.1rem
        color #fff

    & > header
        margin-right 1rem

        button
            margin-left 1rem
            padding .5rem 1rem
            opacity .75
            border 1px solid #fff
            background-color transparent
            transition opacity .3s
            color #fff

            &:hover
                opacity 1
