@require "../../common/styles/functions.styl"

.signin
    position relative
    min-height 100vh

    &--container
        position relative
        box-sizing border-box
        width rem(300px)
        padding 1rem
        border-radius .5rem
        background-color #1a1a1a

        & > h1
            font-size 1.5rem
            color #fff

        & > p
            margin-top 1rem
            padding 1rem .5rem
            border-radius 3px
            background-color rgba(251,47,47, .3)
            line-height 140%
            color #fff

        & > label
            display block
            margin-top 1rem
            font-weight bold
            color #fff

        & > input
            width 100%
            margin-top .5rem
            padding .5rem
            border 0
            border-radius 3px
            background-color #282828
            color #fff

        & > div
            margin-top 1rem

            & > button
                padding .5rem 1rem
                opacity .75
                border 1px solid #fff
                color #fff
                transition opacity .3s

                &:hover
                    opacity 1
